@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f9f0;
  --foreground: #1a3320;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a3320;
    --foreground: #e6f3e6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

.prose {
  @apply max-w-none;
}

.prose h2 {
  @apply text-2xl font-bold mb-4;
}

.prose p {
  @apply mb-4;
}
